*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.901);
}
h2{
    position: absolute;
    top: -80px;
    font-size: 30px;
    color: wheat;
    margin-left: 25px;
    text-align: center;
}
.calculator-body{
width: 400px;
height: 500px;
background-color: gray;
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 10px;
/* padding-top: 100px; */
}
.screen{
    background-color: rgba(255, 248, 248, 0.881);
    color: white;
    width: 90%;
    /* width: 360px; */
    height: 90px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 5px solid rgba(0, 0, 0, 0.65);
}
.screen-text{
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: black;
    font-family: cursive;
}
.buttons{
    border: 2px solid black;
    border-radius: 15px;
    position: absolute;
    top: 130px;
    width: 92%;
    left: 15px;
    height: 70%;
    padding: 0 5px;
}
.numeric-button{
    /* border: 2px solid black; */
    width: 60%;
    height: 95%;
    position: absolute;
    left:2%;
    top: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    /* background-color: yellow; */
}
.num{
    background-color: rgba(255, 0, 0, 0.293);
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size:1.8rem;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.671);


}
.num:hover{
    box-shadow: 0 2px 0 3px rgba(0, 0, 0, 0.671);
}
.num:last-child{
    font-size:1.5rem;
    background-color: rgba(107, 41, 41, 0.293);
}
.functional-button{
    position: absolute;
    left: 64%;
    top: 2%;
    /* border:2px solid blue; */
    width: 35%;
    height: 95%;

    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    /* background-color: yellow; */
}
.fun{
    background-color: rgba(107, 41, 41, 0.293);
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size:1.8rem;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.671);
}
.fun:nth-child(1), .fun:nth-child(2){
    color: rgba(216, 10, 10, 0.663);
}
.fun:nth-child(1):hover, .fun:nth-child(2):hover{
    color: rgba(238, 13, 13, 0.938);

}
.fun:nth-child(7){
    font-size: 1.6rem;
}
.fun:hover{
    box-shadow: 0 2px 0 3px rgba(0, 0, 0, 0.671);
}
